html, body { height:100%; }
.bottom-right { border-radius: 50%; position: absolute; bottom: 20px; right: 20px; padding: 1em; }
.top-left { border-radius: 10%; position: absolute; top: 20px; left: 20px; }
.top-right { border-radius: 10%; position: absolute; top: 20px; right: 20px;  }
.s_dir {font-size: 2em;}