<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="msapplication-starturl" content="/">

  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="../static/css/all.css">
  <link rel="stylesheet" href="../static/css/scope.css">

  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/bootstrap-select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script src="../static/js/scope.js"></script>

  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/scope.css') }}">

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/scope.js') }}"></script> -->

</head>

<body>
  <!-- {  { url _ for ('video_feed')  }  } -->
<img src="" alt="camera video" class="video_bg">
<div id="messageBox" class="text-danger">Message window</div>
<button id="takePicture" type="button" class="btn text-danger"><i class="fas fa-camera"></i></button>

<!-- set motor speed -->
<div class="modal fade" id="setSpeedModal" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark">

          <div class="modal-body">
              <div class="row">
                  <div class="col-10">
                    <label for="topSpeed" class="text-danger" id="lblTopSpeed">Top speed</label>
                    <input type="text" class="form-control-range" id="topSpeed" value="0.0005"> <br>
                  </div>
                  <div class="col-2">
                      <button class="btn text-danger" type="button" id="changeTopSpeed"><i class="fa fa-angle-up"></i></button>
                  </div>
              </div>

              <div class="row">
                  <div class="col-10">
                    <label for="bottomSpeed" class="text-danger" id="lblBottomSpeed">Bottom speed</label>
                    <input type="text" class="form-control-range" id="bottomSpeed" value="0.0005"> <br>
                  </div>
                  <div class="col-2">
                      <button class="btn text-danger" type="button" id="changeBottomSpeed"><i class="fas fa-angle-down"></i></button>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>

<!-- move scope by degrees modal -->
<div class="modal fade" id="moveDegreesModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">

            <div class="modal-body">
                <div class="row">
                    <div class="col-10">
                      <label for="altitudeRangeDeg" class="text-danger" id="lblAltitudeDeg">Altitude (deg): 0</label>
                      <input type="range" class="form-control-range" id="altitudeRangeDeg" min="0" max="90" step="1" value="0"> <br>
                      <label for="altitudeRangeMin" class="text-danger" id="lblAltitudeMin">Altitude (min): 0</label>
                      <input type="range" class="form-control-range" id="altitudeRangeMin" min="0" max="59" step="1" value="0">
                    </div>
                    <div class="col-2">
                        <button class="btn text-danger" type="button" id="changeAltitude"><i class="fa fa-angle-up"></i><i class="fa fa-angle-down"></i></button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-10">
                      <label for="azimuthRangeDeg" class="text-danger" id="lblAzimuthDeg">Azimuth (deg): 0</label>
                      <input type="range" class="form-control-range" id="azimuthRangeDeg" min="0" max="359" step="1" value="0"> <br>
                      <label for="azimuthRangeMin" class="text-danger" id="lblAzimuthMin">Azimuth (min): 0</label>
                      <input type="range" class="form-control-range" id="azimuthRangeMin" min="0" max="59" step="1" value="0">
                    </div>
                    <div class="col-2">
                        <button class="btn text-danger" type="button" id="changeAzimuth"><i class="fas fa-angle-left"></i><i class="fas fa-angle-right"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- image preview modal -->
<div class="modal fade" id="previewModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">

            <div class="modal-body">
                <img src="" alt="capture preview" id="img_preview" class="img-fluid">
            </div>

        </div>
    </div>
</div>

<!-- modal ngc -->
<div class="modal fade" id="NGCModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark" style="color: red;">

            <div class="modal-header">
                <button type="button" class="close text-danger" id="closeNGCModal">&times;</button>
            </div>

            <div class="modal-body">

              <div class="row">
                <div class="col">
                    <div class="input-group mb-3">

                      <select class="custom-select" id="typeselection">
                        <option selected value="">Choose type</option>
                        <option value="*">Star</option>
                        <option value="**">Double star</option>
                        <option value="*Ass">Association of stars</option>
                        <option value="OCl">Open Cluster</option>
                        <option value="GCl">Globular Cluster</option>
                        <option value="ClN">Star cluster + Nebula</option>
                        <option value="G">Galaxy</option>
                        <option value="GPair">Galaxy Pair</option>
                        <option value="GTrpl">Galaxy Triplet</option>
                        <option value="GGroup">Group of galaxies</option>
                        <option value="PN">Planetary Nebula</option>
                        <option value="HII">HII Ionized region</option>
                        <option value="DrkN">Dark Nebula</option>
                        <option value="EmN">Emission Nebula</option>
                        <option value="Neb">Nebula</option>
                        <option value="RfN">Reflection Nebula</option>
                        <option value="SNR">Supernova remnant</option>
                        <option value="Nova">Nova star</option>
                        <option value="NonEx">Nonexistent object</option>
                        <option value="Dup">Duplicated object</option>
                        <option value="Other">Other classification</option>
                      </select>

                      <select class="custom-select" id="constellationselection">
                        <option selected value="">Choose constellation</option>
                        <option value="And">Andromeda</option>
                        <option value="Ant">Antlia</option>
                        <option value="Aps">Apus</option>
                        <option value="Aqr">Aquarius</option>
                        <option value="Aql">Aquila</option>
                        <option value="Ara">Ara</option>
                        <option value="Ari">Aries</option>
                        <option value="Aur">Auriga</option>
                        <option value="Boo">Boötes</option>
                        <option value="Cae">Caelum</option>
                        <option value="Cam">Camelopardalis</option>
                        <option value="Cnc">Cancer</option>
                        <option value="CVn">Canes Venatici</option>
                        <option value="CMa">Canis Major</option>
                        <option value="CMi">Canis Minor</option>
                        <option value="Cap">Capricornus</option>
                        <option value="Car">Carina</option>
                        <option value="Cas">Cassiopeia</option>
                        <option value="Cen">Centaurus</option>
                        <option value="Cep">Cepheus</option>
                        <option value="Cet">Cetus</option>
                        <option value="Cha">Chamaeleon</option>
                        <option value="Cir">Circinus</option>
                        <option value="Col">Columba</option>
                        <option value="Com">Coma Berenices</option>
                        <option value="CrA">Corona Austrina</option>
                        <option value="CrB">Corona Borealis</option>
                        <option value="Crv">Corvus</option>
                        <option value="Crt">Crater</option>
                        <option value="Cru">Crux</option>
                        <option value="Cyg">Cygnus</option>
                        <option value="Del">Delphinus</option>
                        <option value="Dor">Dorado</option>
                        <option value="Dra">Draco</option>
                        <option value="Equ">Equuleus</option>
                        <option value="Eri">Eridanus</option>
                        <option value="For">Fornax</option>
                        <option value="Gem">Gemini</option>
                        <option value="Gru">Grus</option>
                        <option value="Her">Hercules</option>
                        <option value="Hor">Horologium</option>
                        <option value="Hya">Hydra</option>
                        <option value="Hyi">Hydrus</option>
                        <option value="Ind">Indus</option>
                        <option value="Lac">Lacerta</option>
                        <option value="Leo">Leo</option>
                        <option value="LMi">Leo Minor</option>
                        <option value="Lep">Lepus</option>
                        <option value="Lib">Libra</option>
                        <option value="Lup">Lupus</option>
                        <option value="Lyn">Lynx</option>
                        <option value="Lyr">Lyra</option>
                        <option value="Men">Mensa</option>
                        <option value="Mic">Microscopium</option>
                        <option value="Mon">Monoceros</option>
                        <option value="Mus">Musca</option>
                        <option value="Nor">Norma</option>
                        <option value="Oct">Octans</option>
                        <option value="Oph">Ophiuchus</option>
                        <option value="Ori">Orion</option>
                        <option value="Pav">Pavo</option>
                        <option value="Peg">Pegasus</option>
                        <option value="Per">Perseus</option>
                        <option value="Phe">Phoenix</option>
                        <option value="Pic">Pictor</option>
                        <option value="Psc">Pisces</option>
                        <option value="PsA">Piscis Austrinus</option>
                        <option value="Pup">Puppis</option>
                        <option value="Pyx">Pyxis</option>
                        <option value="Ret">Reticulum</option>
                        <option value="Sge">Sagitta</option>
                        <option value="Sgr">Sagittarius</option>
                        <option value="Sco">Scorpius</option>
                        <option value="Scl">Sculptor</option>
                        <option value="Sct">Scutum</option>
                        <option value="Ser">Serpens</option>
                        <option value="Sex">Sextans</option>
                        <option value="Tau">Taurus</option>
                        <option value="Tel">Telescopium</option>
                        <option value="Tri">Triangulum</option>
                        <option value="TrA">Triangulum Australe</option>
                        <option value="Tuc">Tucana</option>
                        <option value="UMa">Ursa Major</option>
                        <option value="UMi">Ursa Minor</option>
                        <option value="Vel">Vela</option>
                        <option value="Vir">Virgo</option>
                        <option value="Vol">Volans</option>
                        <option value="Vul">Vulpecula</option>
                      </select>

                        <div class="input-group-append">
                            <div class="input-group-text">
                              <input type="checkbox" id="messier">&nbsp; Messier
                            </div>
                        </div>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                      <select class="custom-select" id="objectselection">
                        <option selected>Choose object</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <div class="input-group-append">
                        <button class="btn btn-danger" type="button" id="locateNGCIC"><i class="fa fa-crosshairs"></i></button>
                      </div>
                    </div>
                </div>
              </div>


            </div>
        </div>
    </div>
</div>

<!-- modal stars -->
<div class="modal fade" id="starsModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark" style="color: red;">

            <div class="modal-header">
                <button type="button" class="close" id="closeStarsModal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="input-group input-group-sm mb-1">
                      <select class="form-control form-control-sm bg-dark text-danger" data-live-search="true" data-show-subtext="true" id="starsselection">

                      </select>
                      <div class="input-group-append">
                          <button class="btn btn-danger" type="button" id="locateStar"><i class="fa fa-crosshairs"></i></button>
                          <button class="btn btn-danger" type="button" id="lookingAtStar"><i class="fa fa-eye"></i></button>
                     </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<!-- modal search -->
<div class="modal fade" id="searchModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark" style="color: red;">

            <div class="modal-header">
                Search ...
                <!--button type="button" class="close" id="closeSearchModal">&times;</button-->
            </div>

            <div class="modal-body">
                <div class="input-group input-group-sm mb-1">


                      <div class="form-check-inline">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="type" value="*">Stars
                          </label>
                      </div>
                      <div class="form-check-inline">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="type" value="G">Galaxies
                          </label>
                      </div>
                      <div class="form-check-inline">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="type" value="N">Nebulas
                          </label>
                      </div>
                      <div class="form-check-inline">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="type" value="MO">Messier objects
                          </label>
                      </div>

                      <div class="input-group my-3">
                          <input type="text" class="form-control bg-dark text-danger" placeholder="Search" id="q">
                          <div class="input-group-append">
                            <button class="btn btn-danger" type="submit" id="btnSearch"><i class="fas fa-search"></i></button>
                          </div>
                      </div>

                      <select class="form-control form-control-sm bg-dark text-danger" data-live-search="true" data-show-subtext="true" id="searchResult">

                      </select>

                      <div class="input-group-append">
                          <button class="btn btn-danger" type="button" id="locateObj"><i class="fa fa-crosshairs"></i></button>
                     </div>
                  </div>
            </div>
        </div>
    </div>
</div>

  <div class="top-left">
      <div class="btn-group">

        <button type="button" class="btn text-danger" id="toggleMenu"><i class="fas fa-bars"></i></button>

          <div class="btn-group">
            <button type="button" class="btn dropdown-toggle text-danger" data-toggle="dropdown">
                <i class="fas fa-times fs"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a class='dropdown-item' href='/exit'><i class="text-danger">Exit</i></a></li>
            </ul>
          </div>

          <!--div class="btn-group">
            <button type="button" class="btn text-danger dropdown-toggle" data-toggle="dropdown">EXP</button>
            <div class="dropdown-menu">
              <button class="dropdown-item expButton" data-exp="1">1s</button>
              <button class="dropdown-item expButton" data-exp="2">2s</button>
              <button class="dropdown-item expButton" data-exp="3">3s</button>
              <button class="dropdown-item expButton" data-exp="4">4s</button>
              <button class="dropdown-item expButton" data-exp="5">5s</button>
              <button class="dropdown-item expButton" data-exp="6">6s</button>
            </div>
          </div-->
      </div>
</div>

<!-- TODO - camera settings -->

<div class="h-100 d-flex flex-column px-2 bg-dark">

  <div class="flex-column justify-content-center px-2">
    <div class="row">
        <div class="col-1"></div>
        <div class="col text-center direction p-3" data-dir="up"><a class='text-danger' href='#'><i class="fas fa-angle-up s_dir"></i></a></div>
        <div class="col-1"></div>
    </div>
  </div>

  <div class="flex-column justify-content-center px-2 d-flex flex-grow-1 h-100">
    <div class="row d-flex align-items-center">
        <div class="col-1 p-3 direction" data-dir="left"><a class='text-danger' href='#'><i class="fas fa-angle-left s_dir"></i></a></div>

        <div class="col">
            <button type="button" class="btn btn-danger btn-block" id="btn_location">Set date & location</button>
            <div class="menu text-center">
              
              <button type="button" class="btn btn-danger text-white m-2" id="resetPosition"><i class="fa fa-crosshairs"></i> Reset position</button>
              <button type="button" class="btn btn-danger text-white m-2" id="setDisplay"><i class="fas fa-tv"></i> Fullscreen</button>
              <button type="button" class="btn btn-danger text-white m-2" id="startTracking"><i class="fas fa-play"></i> Start tracking</button>
              <button type="button" class="btn btn-danger text-white m-2" id="stopTracking"><i class="fas fa-stop"></i> Stop tracking</button>
              <button type="button" class="btn btn-danger text-white m-2" id="openStarsModal"><i class="fas fa-star"></i> Search stars</button>
              <button type="button" class="btn btn-danger text-white m-2" id="openNGCModal"><i class="fas fa-spinner"></i> Search NGC</button>
              <button type="button" class="btn btn-danger text-white m-2" id="openSearchModal"><i class="fas fa-search"></i> Search all</button>
              <button type="button" class="btn btn-danger text-white m-2" id="openDegreesModal"><i class="fas fa-bullseye"></i> Manual position</button>
              <button type="button" class="btn btn-danger text-white m-2" id="openSpeedModal"><i class="fas fa-fast-forward"></i> Set speed</button>


              <div class="dropdown d-inline-block m-2">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-camera"></i> Set ISO
                </button>
                <div class="dropdown-menu bg-danger">
                  {% set isos = [100, 200, 300, 400, 800, 1600, 3200] %}
                  {% for iso in isos %}
                  <button class="dropdown-item iso" data-iso="{{ iso }}">{{ iso }}x</button>
                  {% endfor %}
                </div>
              </div>

              <div class="dropdown d-inline-block m-2">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-camera"></i> Set steps (minutes)
                </button>
                <div class="dropdown-menu bg-danger">
                  {% set steps = [1, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 80, 120, 240, 300, 600] %}
                  {% for step in steps %}
                  <button class="dropdown-item step" data-step="{{ step }}">{{ step }}x</button>
                  {% endfor %}
                </div>
              </div>

            </div>
        </div>
        <div class="col-1 text-right p-3 direction" data-dir="right"><a class='text-danger' href='#'><i class="fas fa-angle-right s_dir"></i></a></div>
    </div>
  </div>

  <div class="flex-column justify-content-center px-2">
    <div class="row">
        <div class="col-1"></div>
        <div class="col text-center p-3 direction" data-dir="down"><a class='text-danger' href='#'><i class="fas fa-angle-down s_dir"></i></a></div>
        <div class="col-1"></div>
    </div>
  </div>

</div>

</body>
</html>